		<!-- Intro -->
			<div id="intro-wrapper" class="wrapper style1">
				<div class="title">Introduction</div>
				<section id="intro" class="container">
					<p class="style1">Have you ever wished that you could travel back in time to witness major events in history? Well here is your chance.</p>
					<p class="style2">
						Black Magic Time Travel Sollutions:<br class="mobile-hide" />
						Specializing in Reversing the Arrow of time.
					</p>
					<p class="style3">The past is now the present <strong>Travel</strong>, backwards in <strong>Time</strong> by traveling into a black hole, and <strong>Witness</strong> major conspiracies that shaped the future of humanity unfold infront of your eyes.</p>
					<ul class="actions">
						<li><a href="#" class="button style3 big">Proceed</a></li>
					</ul>
				</section>
			</div>
		
		<!-- Main -->
			<div class="wrapper style2">
				<div class="title">The Details</div>
				<div id="main" class="container">
					
					<!-- Image -->
						<a href="#" class="image featured">
							<img src="/assets/pic01.jpg" alt="" />
						</a>
					
					<!-- Features -->
						<section id="features">
							<header class="style1">
								<h2>Don't Miss this Month's Blast from the Past</h2>
								<p>Black Magic is pleased to announce that we have successfully located the coorindates in the space time continuum of President John F. Kennedy's Assassination, and we are now Booking Tickets to this event.</p>
							</header>
							<div class="feature-list">
								<div class="row">
									<div class="6u">
										<section>
											<h3 class="icon fa-comment">Get In Touch With Black Magic today.</h3>
											<p>Use the send a message feature at the bottom of the page to get in touch with a Black Magic Employee right away.</p>
										</section>
									</div>
									<div class="6u">
										<section>
											<h3 class="icon fa-refresh">The Science of Time Travel</h3>
											<p>Follow the About Us link in the Navigation Bar to learn how we here at Black Magic will be taking you into the past.</p>
										</section>
									</div>
								</div>
								<div class="row">
									<div class="6u">
										<section>
											<h3 class="icon fa-picture-o">Travel Documentation</h3>
											<p>Make sure that you upload a user photo under the Update User Information link in the dropdown menu in the Navigation Bar.</p>
										</section>
									</div>
									<div class="6u">
										<section>
											<h3 class="icon fa-cog">The Rules of Time Travel</h3>
											<p>Please be sure to familiarize yourself with the rules of traveling into the past for a fun and safe trip.</p>
										</section>
									</div>
								</div>
								<div class="row">
									<div class="6u">
										<section>
											<h3 class="icon fa-wrench">Get Acquainted with our Time Machine</h3>
											<p>Follow the About Us link in the Navigation bar to get a special insider look at our state-of-the-art Time Machine. </p>
										</section>
									</div>
									<div class="6u">
										<section>
											<h3 class="icon fa-check">Travel Itinerary</h3>
											<p>Make sure to check out the travel itinerary for your special trip into the past. </p>
										</section>
									</div>
								</div>
							</div>
							<ul class="actions actions-centered">
								<li><a href="#" class="button style1 big">Get Started</a></li>
								<li><a href="#" class="button style2 big">More Info</a></li>
							</ul>
						</section>
				
				</div>
			</div>
		