		<!-- Main -->
			<div class="wrapper style2">
				<div class="title">|ABOUT US|</div>
				<div id="main" class="container">
					<div class="row 150%">
						<div class="8u">
						
							<!-- Content -->
								<div id="content">
									<article class="box post">
										<header class="style1">
											<h2>Here you can learn about Black Magic and the technologies that we have developed.</h2>
											<p>Where would you go if you could go anywhere in time?</p>
										</header>
										<a href="#" class="image featured">
											<img src="/assets/aboutpic.jpg" alt="" />
										</a>
										<h2>Our Foundations:</h2>
										<p>In 2015 Black Magic's founder JP Stearns discovered the Grand Unified Theory of Everything while attending the University of Rhode Island. It was this discovery that made our time travel getaways a possibility.</p>
										<p>It was through a relentless effort to unify the equations of Electro-Magnetism and and Quantum Gravity to Replicate the moment of the big bang, led JP to the center of black holes.  In the center of a black hole the space time continuum because one. There is no more space time, instead there is what is known as a singularity.  In 2013 JP lead a team of Pioneers through the center of Serius-B the Super Massive Black Hole at the Center of the Milky Way Galaxy. What they found was that through a series of very precise and advanced calculations that they could invert space time into time space and could begin to control the arrow of time spatially the way that time travels through our dimension.</p>
										<h2>Our Technology:</h2>
										<p>We here at Black Magic have consulted the world's finisest statisticians and philosophers to develop a moral framework for traveling into the past. We have developed a no foot-print philosophy and leave no trace as we travel into the past, by staying organized and adhereing to strict disciplines and developing individualized itineraries with qualified history experts that help us to go un noticed.</p>

										<h2>Our Mission:</h2>
										<p>They say that there is no better way to prepare for the future than to learn from the past, and we here at Black Magic embody this ideal. We believe that by giving the present generations answers to the biggest mysteries in history we can begin to truly define who we are as a speciels </p>
									</article>
									<div class="row 150%">
										<div class="6u">
											<section class="box">
												<header>
													<h2>Come Meet our Team</h2>
												</header>
												<a href="#" class="image featured"><img src="/assets/mk.jpg" alt="" /></a>
												<p>Black Magic has recruited the top minds in the United States of America to contribute to the most extreme of Mankind's accomplishments.  We are able to ensure safety and accuracy as we travel through the past and future alike.</p>
												<a href="#" class="button style1">More</a>
											</section>
										</div>
										<div class="6u">
											<section class="box">
												<header>
													<h2>Tour Our High-Tech Labs</h2>
												</header>
												<a href="#" class="image featured"><img src="/assets/dragon.jpg" alt="" /></a>
												<p>Our State-Of-The-Art facilities are now open to the public for tours. Please contact one of our customer service representaitves to book a tour today and get an upclose look at your vessel to time control. We're excited to see you soon</p>
												<a href="#" class="button style1">More</a>
											</section>
										</div>
									</div>
								</div>
						
						</div>
						<div class="4u">
							
							<!-- Sidebar -->
								<div id="sidebar">
									<section class="box">
										<header>
											<h2>We will be traveling through Serius the black hole</h2>
										</header>
										<p>At the center of the Milkyway Galaxy lies an invisible monster. A Super Masive Black Hole more than 30 million million degrees in Farenheight. Thanks to our dedicated physicists Black Magic is proud to announce that we can now safely take you through the space time continuum to any point in history.</p>
										<a href="#" class="button style1">Learn More</a>
									</section>
									<section class="box">
										<header>
											<h2>Those Who Made It Possible</h2>
										</header>
										<ul class="style2">
											<li>
												<article class="box post-excerpt">
													<a href="#" class="image left"><img src="/assets/pic08.jpg" alt="" /></a>
													<h3><a href="#">Professor Stephen Hawking</a></h3>
													<p>Though he is handicapped by Lue Gerhig's disease Professor Hawking's relentless dedication to the science of black holes has paved the way to endless possibilities.</p>
												</article>
											</li>
											<li>
												<article class="box post-excerpt">
													<a href="#" class="image left"><img src="/assets/pic09.jpg" alt="" /></a>
													<h3><a href="#">Albert Einstein</a></h3>
													<p>Through his application of General Relativity Albert Einstein developed the theory that predicted black holes and lead to our understanding of the Swartzchild Radius.</p>
												</article>
											</li>
											<li>
												<article class="box post-excerpt">
													<a href="#" class="image left"><img src="/assets/pic10.jpg" alt="" /></a>
													<h3><a href="#">Sir Issac Newton</a></h3>
													<p>In his mid twenties Issac Newton proved the existence of the force of gravity and developed the language of Calculus to explain his theories. We owe are technologies to this ground breaking genius.</p>
												</article>
											</li>
										</ul>
										<a href="#" class="button style1">Archives</a>
									</section>

								</div>
							
						</div>
					</div>
				</div>
			</div>
