		<!-- Main -->
			<div class="wrapper style2">
				<div class="title">|DISCLAIMER & RULES|</div>
				<div id="main" class="container">
							
					<!-- Content -->
						<div id="content">
							<article class="box post">
								<header class="style1">
									<h2>Our Leave No Trace Methodology and our Safety Disclaimer.	</h2>
									<p>We <strong> Guarantee </strong> safe travel, return, and no consequences to the future of the human race.</p>
								</header>
								<a href="#" class="image featured">
									<img src="/assets/aboutpic.jpg" alt="" />
								</a>
							
<h2>RULES OF THE ROAD</h2>
<ol "type=1"><strong>
	<li> There will be no presence of the future in the past that could blow our cover.</li>
	<li> You will be issued a counterfiet vintage passport thourgh our online store that will verify your identy you are required to carry this with you.</li>
	<li>You are required to stay with the group under supervision as we cannot guarantee a rescue if you are left behind and the worm hole closes up.</li>
	<li>You are prohibited from interacting with humanity from the past.</li>
	<li>You will be issued a uniform that is custom selected to disguise you in the era of each trip. You will be required to wear your uniform.</li>

	<li>Never confess to the truth, we under no circumstances effect the future of humanity. Our investiations are to benefit the future of our current state of humanity. </li>
</strong>
</ol>




<h1>Disclaimer and Copyright</h1>






<p>All materials on this site are protected by copyright and intellectual property laws. </p>

<p>Visitors who use this website and rely on any information do so at their own risk. </p>

<p>By sharing any contribution (including any text, photographs, graphics, video or audio) with us you agree to grant us, free of charge, permission to use the material in any way we want (including modifying or deleting it). In order that we can use your contribution, you confirm that your contribution is your own original work, is not defamatory and does not infringe any laws and that you have the right to give us permission to use it for the purposes specified above. </p>

<p>The operators of wwwow.eu are not responsible for the contents or reliability of any other websites linked to this website and do not necessarily endorse the views expressed within them. 
<p>Users must not use this website in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity. The majority of content posted in this forum is created by members of the public. The views expressed are theirs and unless specifically stated are not those of the operators of wwwow.eu .We accept no responsibility for any loss or harm incurred.</p>

<p>blackmagic is a website with an open and interactive division, it is therefore not possible to monitor changes in this area. We reserve the right to remove materials such as comments, photos or videos concerning pornographic, abusive or defamatory topics. We also reserve the right to remove documents concerning quackery, detected harmful interventions, statements contrary to public policy and violations of ethic norms. We request the users to inform us as soon as they detect such contents listed above or content they perceive as inappropriate or incorrect. </p>

<p>We are not responsible for the contents or reliability of any other websites to which we provide a link and do not necessarily endorse the views expressed within them. </p>

<p>You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists. 
You must not establish a link from any website that is not owned by you. 
Our site must not be framed on any other site, nor may you create a link to any part of our site other than the home page without our express permission. We reserve the right to withdraw linking permission without notice. </p>


<h1>Privacy Policy</h1>

<p>Personal data entered on our site (e.g. name, email, address or exchange program) are provided voluntarily. The use or processing of these data through third parties is strictly prohibited. The operators of wwwow.eu do not accept any responsibility whatsoever for illegal and abusive use of these data.</p>
							</article>
							<div class="row 150%">
								<div class="4u">
									<section class="box">
										<header>
											<h2>Magna pulvinar tempus</h2>
										</header>
										<a href="#" class="image featured"><img src="/assets/pic05.jpg" alt="" /></a>
										
										<a href="#" class="button style1">More</a>
									</section>
								</div>
								<div class="4u">
									<section class="box">
										<header>
										</header>
										<a href="#" class="image featured"><img src="/assets/pic06.jpg" alt="" /></a>
										<a href="#" class="button style1">More</a>
									</section>
								</div>
								<div class="4u">
									<section class="box">
										<header>
										</header>
										<a href="#" class="image featured"><img src="/assets/pic07.jpg" alt="" /></a>
										
										<a href="#" class="button style1">More</a>
									</section>
								</div>
							</div>
						</div>

				</div>
			</div>