		<!-- Main -->
			<div class="wrapper style2">
				<div class="title">|Itinerary|</div>
				<div id="main" class="container">
					<div class="row 150%">
						<div class="8u">
						
							<!-- Content -->
								<div id="content">
									<article class="box post">
										<header class="style1">
											<h2>Get your travel Itinerary, and review the details of your journey.</h2>
											<p>"If art is to nourish the roots of our culture, society must set the artist free to follow his vision wherever it takes him." ~John F. Kennedy</p>
										</header>
										<a href="#" class="image featured">
											<img src="/assets/brochure.jpg" alt="" />
										</a>
										<p>When traveling back in time through a wormhole, it is very important that we adhere to a strict schedule, so as to ensure that we arrive at our event, and we can exit before the worm hole closes up.</p>
										<p>Each Itinerary is designed custom to the event we are traveling too. This month we are traveling back to the Assassination of John F. Kennedy.  Kennedy was assinated on November 22, 1963 in Dallas Texas.</p>
										<p>We here at Black Magic Time Travel Sollutions have consulted American History professors at Harvard, Yale, and George Washington to develop the best possible time hop itinerary for this incredibly historical event.</p>
										<p>Your Itinerary will be sent to you in the mail inside one of the envelops below, as well as your counterfiet passport to legitimize your story. You need to head over to our store and get fit for an Official Black Magic Team Uniform.</p>
										<img src="/assets/folder.jpg" alt="" width="100%" height = "500"/>
										<p>Please keep all travel documents including your ticket, your passport, and your itinerary inside our folder, with you at all times along the journey. This is to insure your safety.</p>
									</article>

								</div>
						
						</div>
						<div class="4u">
							
							<!-- Sidebar -->
								<div id="sidebar">
									<section class="box">
										<header>
											<h2>Time-Line of Imporating Events</h2>
										</header>
										<p>No other story in the history of the United States of America is shrouded in as much conspiracy and questions than the John F. Kennedy Assasination.</p>
										<a href="#" class="button style1">Learn More</a>
									</section>
									<section class="box">
										<header>
											<h2>November 22, 1963</h2>
										</header>
										<ul class="style2">
											<li>
												<article class="box post-excerpt">
													<a href="#" class="image left"><img src="/assets/crowd.jpg" alt="" /></a>
													<h3>11:38 AM </h3>
													<p>Air Force One had landed at Love Field Airport in Dallas Texas. At 11:38 am President Kennedy was seen greeting the crowd at the airport.</p>
												</article>
											</li>
											<li>
												<article class="box post-excerpt">
													<a href="#" class="image left"><img src="/assets/car.jpg" alt="" /></a>
													<h3>12:21 PM</h3>
													<p>At 12:21 the President's motorcade turned down Main Street with his wife Jackie at his side. They were photographed waving to crowded streets.</p>
												</article>
											</li>
											<li>
												<article class="box post-excerpt">
													<a href="#" class="image left"><img src="/assets/shot.jpg" alt="" /></a>
													<h3><a href="#">12:30 PM</a></h3>
													<p>Shots ring out and the President is shot and killed in broad daylight. Lee Harvy Oswald is arrested 10 minutes later.</p>
												</article>
											</li>
																						<li>
												<article class="box post-excerpt">
													<a href="#" class="image left"><img src="/assets/oldlee.jpg" alt="" /></a>
													<h3>2:20 PM</h3>
													<p>Lee Harvey Oswald was interviewd for the first time in regards to the shooting of the President.</p>
												</article>
											</li>
											<li>
												<h2>November 24th</h2>
												<article class="box post-excerpt">
													<a href="#" class="image left"><img src="/assets/shotson.jpg" alt="" /></a>

													<h3><a href="#">11:21 AM </a></h3>
													<p>Lee Harvey Oswald was shot and killed leaving the Dallas Jail where he was being held.</p>
												</article>
											</li>
										</ul>
										<a href="#" class="button style1">Archives</a>
									</section>
								</div>
							
						</div>
					</div>
				</div>
			</div>

