		<!-- Main -->
			<div class="wrapper style2">
				<div class="title">|THE JFK ASSASINATION|</div>
				<div id="main" class="container">
					<div class="row 150%">
						<div class="8u">
						
							<!-- Content -->
								<div id="content">
									<article class="box post">
										<header class="style1">
											<h2>Learn more about the John F. Kennedy Assassination, Dallas, Texas 1963.</h2>
											<p>"Ask not what your Country can do for you, but what you can do for your Country."</p>
											<center><p>~John Fitzgerald Kennedy~</p></center>
										</header>
										<a href="#" class="image featured">
											<img src="/assets/pic01.jpg" alt="" />
										</a>
										<h2>About the President:</h2>
										<p>John Fitzgerald Kennedy (May 29, 1917 – November 22, 1963), commonly known as Jack Kennedy or by his initials JFK, was an American politician who served as the 35th President of the United States from January 1961 until his assassination in November 1963. Notable events that occurred during his presidency included the Bay of Pigs Invasion, the Cuban Missile Crisis, the Nuclear Test Ban Treaty, the establishment of the Peace Corps, the Space Race—by initiating Project Apollo (which later culminated in the moon landings), the building of the Berlin Wall, the African-American Civil Rights Movement, and the increased U.S. involvement in the Vietnam War.</p>
										<p>After military service as commander of Motor Torpedo Boats PT-109 and PT-59 during World War II in the South Pacific, Kennedy represented Massachusetts's 11th congressional district in the U.S. House of Representatives from 1947 to 1953 as a Democrat. Thereafter, he served in the U.S. Senate from that state from 1953 until 1960. Kennedy defeated Vice President and Republican candidate Richard Nixon in the 1960 U.S. Presidential Election. At age 43, he was the youngest man to have been elected to the office,[2][a] the second-youngest president (after Theodore Roosevelt), who was 42 when he became president after the assassination of William McKinley. Kennedy was the first person born in the 20th century to serve as president.[3] To date, Kennedy has been the only Roman Catholic president and the only president to have won a Pulitzer Prize</p>
										<h2>The Assasination:</h2>
										<p>Kennedy was assassinated in Dallas, Texas on November 22, 1963. Lee Harvey Oswald was arrested that afternoon and charged with the crime that night. Jack Ruby shot and killed Oswald two days later, before Oswald could be prosecuted. The FBI and the Warren Commission officially concluded that Oswald was the lone assassin. The United States House Select Committee on Assassinations (HSCA) agreed with the conclusion that Oswald fired the shots that killed the president, but also concluded that Kennedy was probably assassinated as the result of a conspiracy.</p>
									</article>
									<div class="row 150%">
										<div class="6u">
											<section class="box">
												<header>
													<h2>The Lee Harvy Assasination</h2>
												</header>
												<a href="#" class="image featured"><img src="/assets/pic05.jpg" alt="" /></a>
												<p>Many believe that Lee Harvy Oswald was the subject of a government conspiracy to pin the Kennedy Assasination on somebody. Lee Harvey was shot and killed while in Police Custody and you will get to watch his murder live on our journey.</p>
												<a href="#" class="button style1">More</a>
											</section>
										</div>
										<div class="6u">
											<section class="box">
												<header>
													<h2>The Grassy Knoll Conspiracy</h2>
												</header>
												<a href="#" class="image featured"><img src="/assets/pic06.jpg" alt="" /></a>
												<p>Many witnesses who were present the day of the Assasination said that they heard gun shots coming from a grassy knoll as the President's motorcade went by, making it impossible for Lee Harvey Oswald to have made the fatal shot. We will have front row seats and will bring home answers to this transcendent debate.</p>
												<a href="#" class="button style1">More</a>
											</section>
										</div>
									</div>
								</div>
						
						</div>
						<div class="4u">
							
							<!-- Sidebar -->
								<div id="sidebar">
									<section class="box">
										<header>
											<h2>The Assassination Conspiracy</h2>
										</header>
										<p>Most current theories put forth a criminal conspiracy involving parties as varied as the CIA, the Mafia, sitting Vice President Lyndon B. Johnson, Cuban President Fidel Castro, the KGB, or some combination of those entities.</p>
										<a href="#" class="button style1">Learn More</a>
									</section>
									<section class="box">
										<header>
											<h2>The Major Players</h2>
										</header>
										<ul class="style2">
											<li>
												<article class="box post-excerpt">
													<a href="#" class="image left"><img src="/assets/pic08.jpg" alt="" /></a>
													<h3><a href="#">Dean Andrews</a></h3>
													<p>Dean told the FBI that he received a telephone call on the day of the assassination, asking him to defend Oswald. Andrews would later repeat this claim in testimony to the Warren Commission.</p>
												</article>
											</li>
											<li>
												<article class="box post-excerpt">
													<a href="#" class="image left"><img src="/assets/pic09.jpg" alt="" /></a>
													<h3><a href="#">Rose Cheramie</a></h3>
													<p>One of the many eye witnesses who experienced a tragic and untilmely suspicious death.</p>
												</article>
											</li>
											<li>
												<article class="box post-excerpt">
													<a href="#" class="image left"><img src="/assets/pic10.jpg" alt="" /></a>
													<h3><a href="#">Marilyn Monroe</a></h3>
													<p>It is rumored that the president was engaging the young movie star in sexual relations at the time of his murder.</p>
												</article>
											</li>
										</ul>
										<a href="#" class="button style1">Archives</a>
									</section>
									<section class="box">
										<header>
											<h2>Credible JFK resources on the Web</h2>
										</header>
										<ul class="style3">
											<li><a href="#">Nulla iaculis egestas varius</a></li>
											<li><a href="#">Augue massa feugiat quam pretium</a></li>
											<li><a href="#">Orci sem vel libero cras nisi odio</a></li>
											<li><a href="#">Sed hendrerit massa nam mattis</a></li>
											<li><a href="#">Turpis vel leo accumsan aliquet</a></li>
											<li><a href="#">Dapibus mi fermentum fusce non</a></li>
											<li><a href="#">Arcu laoreet sapien tempus</a></li>
											<li><a href="#">Nulla iaculis egestas varius</a></li>
											<li><a href="#">Augue massa feugiat quam pretium</a></li>
											<li><a href="#">Orci sem vel libero cras nisi odio</a></li>
											<li><a href="#">Sed hendrerit massa nam mattis</a></li>
										</ul>
									</section>
								</div>
							
						</div>
					</div>
				</div>
			</div>
