	<!-- Main -->
			<div class="wrapper style2">
				<div class="title">|ONLINE STORE|</div>
				<div id="main" class="container">
					<div class="row 150%">
						<div class="8u">
						
							<!-- Content -->
								<div id="content">
									<article class="box post">
										<header class="style1">
											<h2>Get your official Black Magic Gear needed for your trip into the past.</h2>
											<p>Don't Forget to be in uniform on our departure date.</p>
										</header>
										<a href="#" class="image featured">
											<img src="/assets/travelkit.jpg" alt="" />
										</a>
										<br>
										<p>It is very important that we dress to fit in to every event we travel to. Our very talented stylist put together an awesome hipster look for our trip back to 1963.</p>
										<p>Make sure to follow up with our tailor to get custom fit for your team uniform.</p><br><br>
										<img src="/assets/branding.jpg" alt="" width="100%" height= "500"/>
										<br><br>
										<p>Don't miss thia opportunity to grab our complimentary stationary set as a part of our John F. Kennedy promotional giveaway.</p> 
									</article>
									<div class="row 150%">
										<div class="6u">
											
										</div>
										<div class="6u">
											
										</div>
									</div>
								</div>
						
						</div>
						<div class="4u">
							
							<!-- Sidebar -->
								<div id="sidebar">
									<section class="box">
										<header>
											<h2>More About Our Stylists</h2>
										</header>
										<p>Black Magic Time Travel Sollutions has employed top stylists who design wonderful team uniforms to keep your identity a secret as you travel back in time.</p>
										<a href="#" class="button style1">Learn More</a>
									</section>
						
								</div>
							
						</div>
					</div>
				</div>
			</div>